* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    position: relative;
    width: 32%;
    min-width : 360px;
    margin: 0 auto;
}
.target {
    display: block;
    width: 100%;
}
.magnifier {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.85), 0 0 3px 3px rgba(0, 0, 0, 0.25);
    display: none;
}